/* Styling */

/* Fonts (From fonts.google.com) Inter/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom,#123, #111);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: 20;
    text-shadow: 0 0 25px white;
}

.strange-side-effects {
    background: #233142;
    width: 250px;
    height: 100px;
    border: rgba(26, 26, 26, 0);
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-size: 35px;
    color: white;
    transition: 0.5s ease-out;
}

.strange-side-effects:hover {
    transition: 0.5s ease-out;
    background: #364154;
}

.strange-side-effects:active {
    transition: 0.5s ease-out;
    background: #535673;
}

.game {
    width: 1200px;
    height: 800px;
}